.container {
  padding: 0;
}

.parent {
  text-align: center;
  font-size: 30px;
  background-color: white;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 700px;
  width:100%;
  /*position: absolute;
  background-color: darkred;
  display: inline;
  width: 100%;
  height: 60%;*/
}
.narrow {
  flex: 1;
  font-size: 20px;
/*  background-color: lightblue;*/
  /* Just so it's visible */
}
.wide {
  flex: 1;
  /* Grow to rest of container */
/*  background-color: lightgreen;*/
  /* Just so it's visible */
}

.contactCard{
  margin-top: 10%;
  margin-left: 15%;
  margin-right: 15%;
  margin-block: 10%;
  background-color: white;

  /* Add border */
/*  border: 1px solid #bacdd8;*/

  /* Add space between the border and the content */
  padding: 8px;

  border-radius: 12px;
  color: black;
}

.titleCard {
/*  background-color: white;*/
  margin-left: 10px;
  font-size: 20px;
}

.textCard {
  margin: 5px 0px 0px 0px;
  font-size: 15px;
}

.locationIcon {
  width: 20%;
/*  margin-right: 10%;*/
/*  margin-left: 10%;*/
/*  background-color: purple;*/
/*  background-color: black;*/
}

.form {
  margin: auto;
  text-align: left;
}

.input_form {
    width: 75%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.submit {
  margin-left: 0px;
  width: 25%;
}

.header_text {
/*  background-color: red;*/
  display: flex;
  align-items: center;
  justify-content: center;
}

.page_header {
  text-align: center;
  padding: 60px;
}